<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if devour}}EAT ME!{{else}}I HAVE BEEN EATEN!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
